.formContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  height: 50vh;
}
.form {
  margin: 20px;
  height: 70%;
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 208, 208);
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

.form div {
  display: flex;
  gap: 10px;
}

.form div input {
  width: 200px;
}
.orderBtnContainer {
  display: flex;
  justify-content: center;
}
.orderBtnContainer button {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
}
