header {
  background-color: rgb(15, 15, 15);
  color: white;
  height: 90px;
}

.navbarTop {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.navbarOptionsContainer {
  border-top: 2px solid red;
  background-color: rgb(15, 15, 15);
}

.navbarOptions {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
}

.navbarOptions li {
  background-color: grey;
  padding: 5px 10px;
  border-radius: 10px;
}
